@import url('https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');


:root{
  line-height: 1.5;
  font-size: 125%; 
}

* {
  font-family:  'Inconsolata', monospace;

}

body {
  color: #282612;
  background: #fbeec1;
}

nav{
  background-color: #bc986a;
}

a {
  color: black;  
  &:focus, &:hover {
      color: #ccc;
  }
}


#navbar-root{
  a{
    text-decoration: none;
  }

  border-bottom: 2px solid #ccc;
}

#main-root{
  padding-top: 100px;
}

h1,h2,h3,h4,h5,h6{
  // font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
}

hr {
  background-color: #ccc;
  height: 2px;
  border: none;
  margin: 1rem 0rem;
}

.foo-header{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  // border-bottom: 2px solid black;
  //font-weight: bold;
  font-size:1.25rem;
}

/*
Simple logo styling
usage example:
	<a href="https://github.com/0foo" class="base-logo">
		<img src="/images/github-logo.png"/>
	</a>
*/
.base-logo{
	--logo-width: 1.3rem;
	border: 0px !important;  // logos typically are self-contained images, so stop any cascading borders or text-decorations.
	text-decoration: none !important;
	img {
		width: var(--logo-width);
		height:auto;
	}
}