---
layout: "root_layout"
title: "About"
---
<article>

    <div class="flex-ns">
        <div class="w-20-ns w-100">
            <a class="no-underline" href="#0">
                <img class="img-featured" src="/images/about_image.png"/>
            </a>
        </div>
        <div class="w-80-ns w-100 pl3-ns pr3-ns">

            <div class="di foo-header">
                About
            </div>

            <div>
                I’m a tech professional from a place that's hot and swampy with good food. 
                I just started getting really focused on physical fitness and healthy diet recently. 
                I have a dog named <a href="https://www.instagram.com/travels_with_biscuit/">Biscuit</a>.
                This site is done from scratch in my (limited) spare time.
                <hr>

            </div>

            <div>
                <p>Site created with these great tools: <a href="https://middlemanapp.com/">Middleman</a>,<a href="https://tachyons.io/">Tachyons</a>,<a href="https://www.netlify.com/">Netlify</a>.</p> 
                <a href="https://github.com/0foo" class="base-logo"><img src="/images/github-logo.png"/></a>
                <a href="https://www.instagram.com/travels_with_biscuit/" class="base-logo"><img src="/images/instagram-logo.png"/></a>
            </div>
        </div>
    </div>
</article>
