---
layout: "root_layout"
title: "About"
---

<article class="article-main-root">

    <a href="">
        <img class="img-featured" src="/images/about_image.png"/>
    </a>

    <div class="article-main-content">
        <div class="article-main">
            I’m a tech person from a place that's hot and swampy with good food. 
            I have a dog named Biscuit.
            This site is done from scratch in my (limited) spare time.
            <hr>
            <p>Site created with: <a href="https://middlemanapp.com/">Middleman.</a> </p> 
            <p>
                <a href="https://github.com/0foo" class="base-logo">
                    <img src="/images/github-logo.png"/>
                </a>
                <a href="https://www.instagram.com/travels_with_biscuit/" class="base-logo">
                    <img src="/images/instagram-logo.png"/>
                </a>
            </p>
        </div>
    </div>
<article>