---
layout: "root_layout"
title: "About"
---
<article>

    <div class="flex">
        <div class="w-20">
            <a class="no-underline" href="#0">
                <img class="img-featured" src="/images/about_image.png"/>
            </a>
        </div>
        <div class="w-80 pl3 pr3">

            <div class="di foo-header">
                About
            </div>

            <div>
                I’m a tech person from a place that's hot and swampy with good food. 
                I have a dog named Biscuit.
                This site is done from scratch in my (limited) spare time.
                <hr>

                <p>Site created with: <a href="https://middlemanapp.com/">Middleman.</a> </p> 
            </div>

            <div>
                <a href="https://github.com/0foo" class="base-logo"><img src="/images/github-logo.png"/></a>
                <a href="https://www.instagram.com/travels_with_biscuit/" class="base-logo"><img src="/images/instagram-logo.png"/></a>
            </div>
        </div>
    </div>
</article>
  