<div id="nav-wrapper">

    <span class="title">
        <a href="/"><h3>0foo.dev</h3></a>
    </span>

    <ul class="menu">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><%= link_to 'About', '/pages/about.html' %></li>
    </ul>
</div>

