  
<div class="mv3">
    <div class="di foo-header b0">Random Quote</div><br/>


    <span id="quote-box">
        <div id="quotes-and-quotes-and-quotes">
        </div>
        <div id="quotes-and-quotes-and-quotes-author">
        </div>
    </span>
</div>

<div class="mv3">
<div class="di foo-header">Tags</div><br/>
<ol>
    <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
</ol>
</div>

<div class="di foo-header">By Year</div><br/>
<ol>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
</ol>

